@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}

<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>İçerik</th>
    </tr>
    @foreach (var prs in Model)
    {
        if (prs.KATEGORI=="Diğer")
        {
            renk = "bg-info text-white";
        }
        <tr>
            <td>@prs.ID</td>
            <td class="@renk">@prs.KATEGORI</td>
            <td>@Convert.ToDateTime(prs.TARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Duyuru/DuyuruSil/@prs.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Duyuru/DuyuruDetay/@prs.ID" class="btn btn-default" style="background-color:skyblue">Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>

